!.vscode/extensions.json
.build
.DS_Store
.env
.eslintcache
.history
.idea
.log
.tsbuildinfo
.vite
.vscode
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
build
coverage
dist
logs
node_modules
**/**/node_modules/
**/*.scratch
tmp

/packages/backend/wrangler.toml
/packages/backend/.wrangler

generated-reports
*payout-data.json
*payout-report.pdf

# Playwright tests
/packages/frontend/test-results
/packages/frontend/playwright-report
/packages/frontend/blob-report
/packages/frontend/playwright/.cache

# Common IDE and AI files
mcp.json
.roo
.cline
